<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ua.com.kathien.donorua">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/MyMaterialTheme">
        <activity
            android:name=".activities.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.HotlineActivity"
            android:label="@string/title_activity_hotline"
            android:parentActivityName=".activities.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ua.com.kathien.donorua.activities.MainActivity" />
        </activity>
        <activity
            android:name=".activities.RecipientListActivity"
            android:label="@string/title_activity_recipient_list"
            android:parentActivityName=".activities.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ua.com.kathien.donorua.activities.MainActivity" />
        </activity>
        <activity
            android:name=".activities.RecipientInfoActivity"
            android:label="@string/title_activity_recipient_info"
            android:parentActivityName=".activities.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ua.com.kathien.donorua.activities.MainActivity" />
        </activity>
        <activity
            android:name=".activities.CenterListActivity"
            android:label="@string/title_activity_center_list"
            android:parentActivityName=".activities.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ua.com.kathien.donorua.activities.MainActivity" />
        </activity>
        <activity
            android:name=".activities.CenterMapActivity"
            android:label="@string/title_activity_center_map"
            android:parentActivityName=".activities.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ua.com.kathien.donorua.activities.MainActivity" />
        </activity>
        <activity
            android:name=".activities.CenterInfoActivity"
            android:label="@string/title_activity_center_info"
            android:parentActivityName=".activities.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ua.com.kathien.donorua.activities.MainActivity" />
        </activity>
        <activity
            android:name=".activities.NewsListActivity"
            android:label="@string/title_activity_news_list"
            android:parentActivityName=".activities.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ua.com.kathien.donorua.activities.MainActivity" />
        </activity>
        <activity
            android:name=".activities.NewsInfoActivity"
            android:label="@string/title_activity_news_info"
            android:parentActivityName=".activities.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ua.com.kathien.donorua.activities.MainActivity" />
        </activity>
        <activity android:name=".activities.EventsListActivity"></activity>
    </application>

</manifest>